/* MAIN FORMATTING */
#swatchHolder{
  width: fit-content;
  display: inline-block;
  background-color: grey;
  padding: 20px;
}

.swatch{
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0px 10px;
  float: left;
  display: inline;
  border: 1px gray solid;
}

.swatch-small{
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0px 10px;
  /* float: left; */
  /* display: inline; */
  border: 1px gray solid;
}

/* COMPARISON FORMATTING */

#productImage{
  margin-top: 50px;
  height: 500px;
  margin-bottom: 50px;
}

.prodImg-small {
  height: 200px;
  margin-bottom: 30px;
}

#compareHolder{
  padding-top: 20px;
}

/* OTHER  */

body{
  text-align: center;
}

.images{
  display: block
}

h3{
  margin-top: 20px;
  text-align: center;
}

h1{
  font-size: 80px;
  margin-top: 20px;
}
.row{
  display: inline-block;
}
